// font-family: 'DM Sans',
// sans-serif;
// font-family: 'Rubik',
// sans-serif;
html,
body {
  height: 100%;
}

body {
  line-height: 30px;
  font-size: 16px;
  color: $default;
  @extend %rubik-400;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo {
  display: flex;
}
.logo__img-text {
 padding-left: 10px;
}

.title {
  text-align: center;
  color: $title;
  font-size: 36px;
  line-height: 65px;
  @extend %dmsans-700;
  padding-bottom: 40px;
}

.filter {
  text-align: center;
  padding-bottom: 80px;
}

.button {
  @extend %dmsans-700;
  border: none;
  background-color: transparent;
  color: #b8b8b8;
  margin: 0 15px ;
  cursor: pointer;
  transition: all .3s;
  &:hover{
    color: #363636;
    transition: all .3s;
  }
}

.mixitup-control-active {
  color: #243f4d;
}