$default: #436372;
$title-h6: #243f4d;
$bg-btn: #a3bbc8;
$num: #fff;
$list-nav: #b6b6b6;
$fb: #909090;
$title: #191919;

%rubik-300 {
  font-family:'Rubik', sans serif;
  font-weight: 300;
}

%rubik-400 {
  font-family:'Rubik', sans serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: 'Rubik', sans serif;
  font-weight: 500;
}

%dmsans-400 {
  font-family: 'DMSans', sans serif;
  font-weight: 400;
}

%dmsans-500 {
  font-family: 'DMSans', sans-serif;
  font-weight: 500;
}

%dmsans-700 {
  font-family: 'DMSans', sans serif;
  font-weight: 700;
}

%poppins-700 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

%checkbox-hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}