@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  padding: 50px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  &__list {
    display: flex;
    position: relative;
    left: 80px;
    @extend %rubik-500;
  }
  &__list-item+.menu__list-item {
    padding-left: 40px;
  }
  &__list-link {
    line-height: 12px;
    font-size: 15px;
    color: $default;
  }
}

.user-nav {
  display: flex;
  &__left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    margin-right: 20px;
    border-radius: 50%;
    background-color: #edf1f4;
  }
  &__middle--line::before {
    content: '';
    position: absolute;
    background-color: #fde7d3;
    width: 1px;
    height: 32px;
  }
  &__middle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 180px;
    border-radius: 25px;
    background-color: #fcd7b6;
  }
  &__right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    margin-left: 20px;
    border-radius: 50%;
    background-color: $bg-btn;
  }
  &__link {
    position: relative;
  }
  &__num {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $num;
    top: -9px;
    right: -9px;
    font-size: 10px;
    line-height: 17px;
    text-align: center;
    color: $title-h6;
  }
}

.top {
  padding-top: 15px;
  &__title {
    font-family:'Rubik', sans serif;
    font-weight: 300;
    line-height: 24px;
    padding-bottom: 10px;
    color: #222933;
  }
  &__container {
    padding: 30px 0;
    background-color: #edf1f4;
    text-align: center;
  }
}

.top-slider {
  margin: 0 45px;
  padding-top: 100px;
  background-color: #fcd7b6;

  &__container {
    max-width: 1460px;
  }

  &__item {
    display: flex !important;
    justify-content: space-between;
  }

  &__content {
    padding-left: 60px;
    padding-top: 90px;
  }

  &__title {
    @extend %rubik-500;
    max-width: 470px;
    font-size: 72px;
    line-height: 70px;
    color: $title-h6;
    margin-bottom: 45px;
  }

  &__text {
    max-width: 330px;
    font-size: 18px;
    color: $default;
    margin-bottom: 40px;
  }

  &__btn {
    @extend %rubik-500;
    width: 180px;
    font-size: 15px;
    line-height: 12px;
    padding: 25px 20px;
    color: #fff;
    background-color: $bg-btn;
    text-align-last: left;
    border: none;
    cursor: pointer;
  }

  &__btn-icon {
    position: relative;
    right: 45px;
    cursor: pointer;

    path {
      fill: rgba(255, 255, 255)
    }
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    padding: 10px 0 45px;

    li {
      padding: 5px;

      button {
        @extend %rubik-500;
        padding: 0;
        font-size: 11px;
        width: 30px;
        height: 30px;
        color: #667983;
        background-color: #fde3cc;
        border: none;
        border-radius: 50%;
        cursor: pointer;
      }

      &.slick-active {
        button {
          color: #243f4d;
          background-color: #fff;
        }
      }
    }
  }
}

.info {
  max-width: 1920px;
  padding: 0 0 20px;
  margin: 0 45px;
  background-color: #fef7f0;
  &__items {
    display: flex;
  }
  &__item-list {
    max-width: 270px;
    margin: 0 auto;
  }
  &__item-img {
    position: relative;
    top: 60px;
    width: 50px;
    height: 50px;
  }
  &__item {
    position: relative;
    left: 75px;
  }
  &__item-title {
    @extend %dmsans-700;
    color: #414141;
    font-size: 18px;
    line-height: 40px;
  }
  &__item-text {
    position: relative;
    font-size: 16px;
    line-height: 30px;
    @extend %dmsans-400;
  }
  &__item--line::before,
  &__item--line::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 170px;
    background-color: #e8e4df;
    top: -90px;
  }
  &__item--line::before {
    left: -250px;
  }
  &__item--line::after {
    right: -140px;
  }
}

.product {
  padding-top: 75px;
  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px 30px;
    padding-top: 80px;
  }
}

.product-item {
  display: flex;
  flex-direction: column;
  max-width: 270px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  &__images {
    object-fit: cover;
    min-height: 165px;
    margin: 0 auto;
    padding-top: 35px;
    margin-top: auto;
  }
  &__wrapper {
    position: relative;
    bottom: 35px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
  }
  &__link-box {
    width: 45px;
    height: 45px;
    background-color: #fefefe;
    border-radius: 50%;
    transition: all .3s;
    transform: translateY(300%);
  }
  &__link-box:hover {
    background-color: #a2bac7;
  }
  &__link {
    path {
      transition: all .3s;
    }
  }
  &__link:hover {
    path {
      fill: #fff;
    }
  }
  &__icon {
    position: relative;
    top: 12px;
  }
  &__title {
    @extend %dmsans-500;
    color: $title-h6;
    font-size: 16px;
    line-height: 40px;
    margin-bottom: 15px;
  }
  &__price {
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 40xp;
    color: #a2bac7;
    margin-bottom: 40px;
  }
  &:hover {
    .product-item__link-box {
      transform: translateY(0);
    }
  }
  &__bottom {
    display: flex;
    padding-top: 185px;
    margin: 0 45px;
  }
  &__info {
    display: flex;
    width: 100%;
    height: 390px;
    margin-right: 30px;
    background-color: #feefe2;
  }
  &__info:last-child {
    margin-right: 0;
  }
  &__img {
    position: relative;
    bottom: 90px;
    margin: 0 20px 0 auto;
  }
  &__list {
    max-width: 330px;
    margin: auto auto 90px 20px;
  }
  &__subtitle {
    @extend %dmsans-700;
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 30px;
    color: $title-h6;
  }
  &__text {
    font-size: 16px;
    line-height: 30px;
    color: $title-h6;
    margin-bottom: 30px;
  }
  &__btn {
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;
    width: 180px;
    color: #436372;
    background-color: #feefe2;
    border: 1px solid #b3b7b5;
    border-radius: 6px;
    text-align-last: left;
    padding: 25px 20px;
    cursor: pointer;
  }
  &__btn-icon {
    position: relative;
    right: 45px;
    cursor: pointer;
  }
}

.design {
  padding-top: 80px;
  margin-bottom: 120px;
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    padding-top: 80px;
  }
  &__item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
    min-height: 230px;
  }
  &__item-title {
    width: 175px;
    padding-top: 30px;
    margin: 0 0 0 35px;
  }
  &__item-link {
    @extend %dmsans-700;
    font-size: 20px;
    color: #191919;
  }
  &__item-subtitle {
    @extend %dmsans-700;
    color: #a3bbc8;
    margin-left: 35px;
  }
}

.video-interior {
  padding-bottom: 95px;
  &__popup {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
  }
}

.blog {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: #262626;
  }
  &__link {
    @extend %dmsans-700;
    position: relative;
    margin: 0;
    color: #262626;
    padding-right: 15px;
    cursor: pointer;
  }
  &__link::after {
    background-image: url('../images/icon/arrow.svg');
    background-repeat: no-repeat;
    position: absolute;
    content: '';
    width: 7px;
    height: 12px;
    top: 9px;
    right: -5px;
  }
  &__items {
  display: flex;
  justify-content: space-between;
  }
  &__item {
    max-width: 370px;
  }
  &__item-imglink {
    img {
      height: 250px;
      object-fit: cover;
    }
  }
  &__item-link {
    @extend %poppins-700;
    position: relative;
    bottom: 15px;
    font-size: 18px;
    line-height: 20px;
    color: #fff;
    width: 103px;
    height: 30px;
    padding: 10px 30px;
    border-radius: 25px;
    background-color: #a3bbc8;
  }
  &__item-box {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    padding: 0 30px 25px;
    min-height: 220px;
  }
  &__item-text {
    @extend %dmsans-500;
    font-size: 18px;
    color: #262626;
    margin-bottom: 20px;
  }
  &__item-infodata {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #e0e0e0;
    padding-top: 20px;
    margin-top: auto;
  }
  &__item-date {
    color: #222933;
  }
  &__item-autor {
    color: #222933;
  }
}
.partners {
  position: relative;
  background: #fef7f0;
  &__bg {
    position: absolute;
    background: #fef7f0;
    width: 100%;
    height: 470px;
    z-index: -1;
    bottom: 0;
    }
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 250px;
    background: #fef7f0;
  }
  &__item {
    list-style-type: none;
  }
}

.footer-top {
  border-bottom: 1px solid #dae4e9;
  display: flex;
  padding-top: 80px;
  .logo {
    display: flex;
    &__img-text {
      padding-left: 10px;
    }
  }
  &__contact {
    width: 210px;
    margin-right: 90px;
  }
  &__nav {
    width: 250px;
    margin-right: 50px;
  }
  &__item-form {
    max-width: 280px;
  }
  &__logo {
    margin-bottom: 28px;
  }
  &__title {
    @extend %dmsans-700;
    text-transform: uppercase;
    margin: 18px 0 28px;
    font-size: 16px;
    line-height: 21px;
    color: #1f2044;
  }
  &__adress,
  &__phone,
  &__email {
    display: block;
    font-size: 14px;
    line-height: 32px;
    margin-bottom: 20px;
    color: $list-nav;
  }
  &__link,
  &__list {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 32px;
    color: $list-nav;
  }
  &__text {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 35px;
  }
  &__form {
    display: flex;
  }
  &__form-input {
    @extend %dmsans-400;
    border: none;
    background-color: #fef7f0;
    max-width: 170px;
    width: 100%;
    padding: 0 12px;
    &::placeholder {
      color: #234969;
      font-size: 12px;
    }
  }
  &__form-btn {
    border: none;
    background-color: $bg-btn;
    max-width: 100px;
    width: 100%;
    color: $num;
  }
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 32px;
  height: 90px;
  color: #7b7b7b;
  &__copy {
    font-size: 14px;
    line-height: 32px;
    color: #7b7b7b;
  }
  &__link {
    font-size: 14px;
    line-height: 32px;
    color: #7b7b7b;
    margin: 0 12px;
  }
}

.modal {
  padding-top: 120px;
  max-width: 470px;
  margin: 0 auto 120px;
  &__label {
    display: block;
  }
  &__input {
    display: block;
    width: 100%;
    border: 2px solid #f6f6f6;
    margin-top: 4px;
    height: 60px;
    padding: 0 15px;
  }
  &__btn {
    width: 100%;
    @extend %rubik-500;
    background-color: #a3bbc8;
    font-size: 18px;
    line-height: 60px;
    color: #fffefe;
    border: none;
    cursor: pointer;
  }
  &__items {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #f6f6f6;
    margin-bottom: 25px;
    ;
  }
  &__item {
    display: flex;
    align-items: center;
    margin: 25px 0;
  }
  &__error {
    margin: 0 auto;
    color: #436372;
  }
  &__links {
    text-align: center;
  }
  &__link {
    display: block;
    @extend %rubik-500;
    color: #243f4d;
    font-size: 18px;
    line-height: 60px;
    border: 2px solid #a3bbc8;
  }
}




@import 'media';

