@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.shop {
  padding-top: 80px;
  &__inner {
    display: flex;
  }
  &__filters {
    width: 270px;
    margin-right: 30px;
  }
}

.filter {
  &__item {
    width: 270px;
    padding: 35px 0;
  }
  &__title {
    position: relative;
    text-transform: uppercase;
    text-align: left;
    font-size: 18px;
    color: #243f4d;
    font-family: $f-dmsans;
    font-weight: 700;
    margin-bottom: 35px;
    &::after{
      content: '';
      position: absolute;
      width: 40px;
      height: 3px;
      top: 14px;
      left: 70px;
      background-color: #a3bbc8
    }
  }
}

.filter-category {
  &__title {
    &::after {
      content: '';
      position: absolute;
      width: 40px;
      height: 3px;
      top: 13px;
      left: 110px;
      background-color: #a3bbc8
    }
  }
  &__label {
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__input {
    display: none;
    &:checked+.filter-category__checkbox {
      background-color: #edf1f4;
    }
  }
  &__checkbox {
    display: flex;
    justify-content: space-between;
    padding: 5px 20px 5px 15px;
    border-radius: 5px;
    color: #243f4d;
  }
  &__text {
    color: #243f4d;
  }
}

.filter-price {
  &__label {
    display: flex;
    justify-content: space-between;
  }
  &__from,
  &__to {
    color: #436372;
  }
}

.irs--flat .irs-line {
  top: 7px;
  height: 3px;
  background-color: #c2d2db;
  border-radius: 4px;
}

.irs--flat .irs-handle {
  top: 0;
  width: 15px;
  height: 15px;
  background-color: #a3bbc8;
}

.irs--flat .irs-handle>i:first-child {
  display: none;
}

.irs--flat .irs-bar {
  top: 6px;
  height: 5px;
  background-color: #a3bbc8;
}

.irs-from,
.irs-to,
.irs-single {
  display: none;
  top: 50px;
}

.irs--flat .irs-min,
.irs--flat .irs-max {
  display: none;
}

.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single {
  font-family: $f-rubik;
  font-weight: 500;
  color: #243f4d;
  font-size: 14px;
  line-height: 43px;
}

.filter-brand {
  &__title {
    &::after {
      left: 75px;
    }
  }
  &__label {
    display: block;
    margin-bottom: 10px;
    cursor: pointer;

    &:last-child {
      margin-bottom: 0;
    }
  }
  &__input {
    display: none;
    &:checked+.filter-brand__checkbox {
      background-color: #edf1f4;
      color: #243f4d;
      span {
        background-color: #edf1f4;
        color: #243f4d;
      }
    }
  }
  &__checkbox {
    display: flex;
    justify-content: space-between;
    padding: 5px 20px 5px 15px;
    border-radius: 5px;
    color: #243f4d;
  }
  &__text {
    color: #243f4d;
  }
}

.filter-product {
  &__title {
    &::after {
      left: 180px;
    }
  }
  &__items {
    display: flex;
    margin-bottom: 25px;
  }
  &__images {
    object-fit: cover;
    width: 70px;
    border: 3px solid #f7f7f7;
    margin-right: 20px;
  }
  &__img {
    margin: 6px auto 4px;
  }
  &__info {
    text-align: left;
    padding: 5px 0;
  }
  &__link {
    display: flex;
    color: #333333;
  }
  &__subtitle {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 5px;
  }
  &__price {
    font-size: 15px;
    line-height: 27px;
  }
}

.star {
  padding: 0;
  margin-bottom: 5px;
}

.shop-content {
  width: 100%;
  padding: 40px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .product-item {
      margin-bottom: 40px;
    }
  }
  &__items {
    display: flex;
  }
  &__link {
    margin: 0 40px 40px 40px;
  }
  &__images {
    display: flex;
    height: 500px;
    width: 370px;
    background-color: #fefefe;
    border: 3px solid #f2f2f2;
  }
  &__img {
    margin: auto;
  }
  &__info {
    margin: auto 0;
  }
  &__subtitle {
    font-size: 40px;
    line-height: 27px;
    margin-bottom: 25px;
    color: #333333;
  }
  &__price {
    font-size: 30px;
    line-height: 45px;
    color: #333333;
    margin: 25px 0;
  }
  &__text {
    color: #243f4d;
    font-size: 16px;
    margin-bottom: 25px;
  }
  &__wrapper {
    display: flex;
  }
  &__link-box {
    position: relative;
  }
  &__link-icon {
    display: flex;
    align-items: center;
    margin-right: 12px;
    width: 50px;
    height: 50px;
    background-color: #fff;
    justify-content: center;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    transition: all .3s;
    border-radius: 4px;
  }
  &__link-icon:hover {
    background-color: #a2bac7;
    path {
      transition: all .3s;
      fill: #fff;
    }
  }
  &__link--active {
    color: #fff;
    background-color: #a2bac7;
    path {
      fill: #fff;
    }
  }
  &__link--active:hover::after {
    content: 'ADD TO CART';
    position: absolute;
    left: 0;
    padding: 10px 45px;
    width: 210px;
    height: 50px;
    border-radius: 4px;
    color: #fff;
    background-color: #a2bac7;
    z-index: 1;
    path {
      fill: #fff;
    }
  }
  &__pagination {
    justify-content: left;
    padding-left: 40px;
  }
}

.product-page {
  padding: 120px 0;
}

.product-one {
  &__inner {
    display: flex;
  }
  &__slide {
    width: 550px;
    margin-right: 70px;
  }
  &__content {
    width: 550px;
  }
  &__subtitle {
    font-family: $f-rubik;
    font-weight: 400;
    padding-top: 30px;
    font-size: 40px;
    line-height: 27px;
    color: #333333;
    margin-bottom: 30px;
  }
  &__price {
    color: #333333;
    padding-top: 15px;
    font-size: 30px;
    line-height: 45px;
    margin-bottom: 10px;
  }
  &__text {
    margin-bottom: 30px;
    font-size: 16px;
    color: #243f4d;
  }
  &__item-num {
    position: relative;
    &::before {
      position: absolute;
      content: "";
      width: 1px;
      height: 53px;
      left: 50px;
      background-color: #a3bbc8;
      z-index: 1;
    }
    &::after {
      position: absolute;
      content: "";
      width: 1px;
      height: 53px;
      right: 50px;
      background-color: #a3bbc8;
      z-index: 1;
    }
    &::after {
      position: absolute;
      content: "";
      width: 1px;
      height: 53px;
      top: 0;
      right: 50px;
      background-color: #a3bbc8;
      z-index: 1;
    }
  }
  &__item-btn {
    text-transform: uppercase;
    width: 208px;
    height: 52px;
    margin-left: 15px;
    background-color: #a3bbc8;
    border-radius: 4px;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-bottom: 50px;
  }
}

.product-info {
  &__item {
    display: flex;
    color: #243f4d;
    margin-bottom: 5px;
  }
  &__title {
    font-size: 16px;
    color: #243f4d;
  }
  &__link {
    font-size: 16px;
    color: #243f4d;
    cursor: pointer;
  }
}

.jq-number__field {
  width: 150px;
  border: 1px solid #a3bbc8;
}

.jq-number__field input {
  box-sizing: border-box;
  width: 100%;
  height: 51px;
  border: none;
  outline: none;
  font-family: $f-rubik;
  font-weight: 400;
  color: #333333;
  font-size: 15px;
  text-align: center;
}

.jq-number {
  position: relative;
  padding: 0;
}

.jq-number__spin {
  position: absolute;
  cursor: pointer;
  width: 11px;
  height: 11px;
  top: 50%;
  transform: translateY(-50%);
}

.jq-number__spin.minus {
  left: 20px;
}

.jq-number__spin.plus {
  right: 20px;
}

.jq-number__spin.plus::before {
  content: "";
  position: absolute;
  top: 0;
  left: 5px;
  background-color: #333333;
  width: 1px;
  height: 11px;
}

.jq-number__spin::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  background-color: #333333;
  width: 11px;
  height: 1px;
}

.product-slide{
  display: flex;
  .slick-vertical .slick-slide {
    height: 182px;
  }
  &__thumb {
    width: 130px;
    height: 158px;
    margin-right: 25px
  }
  &__thumb-item {
    width: 130px;
    border: 2px solid #f2f2f2;
    margin-bottom: 25px;
    cursor: pointer;
    img {
      width: 130px;
      height: 155px;
      object-fit: scale-down;
    }
  }
  &__big {
    width: 385px;
    img {
      border: 2px solid #f2f2f2;
      width: 385px;
      height: 525px;
      object-fit: scale-down;
    }
  }
}

.product-tabs {
  padding-top: 100px;
  &__top {
    margin-bottom: 40px;
  }
  &__top-item {
    display: inline-block;
    font-family: $f-rubik;
    font-weight: 500;
    width: 240px;
    height: 52px;
    padding: 12px 0px;
    font-size: 18px;
    text-align: center;
    color: #243f4d;
    background-color: #edf1f4;
    border-radius: 6px;
    &+.product-tabs__top-item {
      margin-left: 12px;
    }
    &:first-child {
      margin-left: 165px;
    }
    & + span {
      color: inherit;
    }
  }
  &__top-item--active {
    width: 240px;
    height: 50px;
    padding: 10px 0px;
    text-align: center;
    background-color: #a3bbc8;
    color: #fff;
    border-radius: 6px;
  }
  &__content-item {
    display: none;
    &.product-tabs__content-item--active {
      display: block;
    }
  }
}

.related {
  margin-bottom: 110px;
}
.related-slider {
  position: relative;
  &__title {
    text-align: left;
    color: #243f4d;
    margin-bottom: 60px;
  }
  &__inner {
    display: flex;
    .slick-prev,
    .slick-next {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      top: -120px;
      height: 50px;
      width: 50px;
      border-radius: 6px;
      background-color: #fff;
      border: 2px solid #a3bbc8;
      z-index: 5;
      transition: all .3s;
      cursor: pointer;
    }
    .slick-disabled {
      border: 2px solid #edf1f4;
    }
    .slick-prev {
      right: 70px;
    }
    .slick-next {
      right: 0;
    }
    .slick-track {
      padding: 30px 10px;
    }
  }
}

.blog-page {
  padding: 120px 0 42px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__content {
    width: 830px;
    margin-right: 70px;
  }
  &__items {
    position: relative;
  }
  &__item {
    margin-bottom: 40px;
  }
  &__item-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 275px;
    height: 70px;
    background-color: #a3bbc8;
  }
  &__item-date,
  &__item-autor {
    color: #fff;
    font-size: 12px;
  }
  &__item-title {
    font-size: 36px;
    line-height: 27px;
    margin-bottom: 40px;
  }
  &__item-link {
    color: #333333;
  }
  &__item-texttop {
    font-weight: 500;
    margin-bottom: 40px;
  }
  &__item-text {
    color: #243f4d;
    margin-bottom: 40px;
  }
  &__item-btn {
    font-family: $f-rubik;
    font-weight: 500;
    font-size: 15px;
    line-height: 12px;
    width: 180px;
    height: 60px;
    margin-bottom: 50px;
    color: #a3bbc8;
    background-color: #fff;
    border: 1px solid #a3bbc8;
    text-align-last: left;
    padding: 0 20px;
    cursor: pointer;
  }
  &__item-icon {
    position: relative;
    right: 45px;
    cursor: pointer;
  }
  &__aside {
    width: 270px;
  }
}

.filter-search {
  margin-bottom: 25px;
  &__form {
    display: flex;
  }
  &__input {
    width: 270px;
    height: 40px;
    padding: 0 50px 0 15px;
    border:2px solid #ebf1f3;
    border-radius: 6px;
    outline: none;
  }
  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -46px;
    border-radius: 6px;
    width: 48px;
    height: 40px;
    background-color: #ebf1f3;
    border: none;
    cursor: pointer;
  }
}

.filter-posts {
  padding: 25px 0;
  &__title {
    &::after {
      content: "";
      position: absolute;
      width: 40px;
      height: 3px;
      top: 14px;
      left: 150px;
      background-color: #a3bbc8;
    }
  }
  &__link {
    display: flex;
    margin-bottom: 20px;
  }
  &__images {
    min-width: 70px;
    margin-right: 20px;
  }
  &__text {
    font-size: 14px;
    line-height: 20px;
    color: #333333;
  }
  &__date {
    font-size: 12px;
    line-height: 30px;
    color: #9a9a9a;
  }
}

.blog-pagination {
  justify-content: start;
  padding: 0;
}

.blog-one {
  &__left-img {
    margin-right: 30px;
    float: left;
  }
  &__right-img {
    float: right;
    margin-left: 30px;
    margin-bottom: 10px;
  }
  &__blog-items {
    margin-bottom: 40px;
  }
  &__text {
    margin-bottom: 60px;
    h4 {
      font-size: 36px;
      line-height: 27px;
      margin-bottom: 25px;
      color: #333;
    }
    h6 {
      margin: 60px 0 25px;
      font-size: 18px;
    }
    p {
      margin-bottom: 25px;
      color: #243f4d;
      span {
        font-weight: 500;
      }
    }
    blockquote {
      margin: 45px 0;
      padding: 25px 85px 25px 35px;
      color: #243f4d;
      background-color: #edf1f4;
      border-left: 6px solid #a3bbc8;
      span {
        display: block;
        position: relative;
        margin-left: 35px;
        &::before {
          position: absolute;
          bottom: 13px;
          left: -35px;
          content: "";
          width: 20px;
          height: 4px;
          color: #a3bbc8;
          background-color: #a3bbc8;
        }
      }
    }
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    margin: 60px 0;
    border-top: 2px solid #ebebeb;
    border-bottom: 2px solid #ebebeb;
  }
  &__box {
    display: flex;
  }
  &__autor-img {
    margin-right: 25px;
  }
  &__autor-name {
    font-size: 18px;
    line-height: 25px;
    margin-top: 10px;
    color: #333333;
    font-weight: 500;
  }
  &__autor-position {
    color: #666666;
  }
  &__tags {
    span {
      font-size: 16px;
      line-height: 26px;
      margin-right: 30px;
      color: #333333;
    }
  }
  &__link {
    color: #999999;
  }
  &__share {
    span {
      margin-right: 20px;
    }
    a:not(:last-child) {
      margin-right: 18px;
    }
  }
  &__comments-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 30px;
    color: #436372;
  }
  &__comments-wrapper {
    display: flex;
    padding: 30px 0;
  }
  &__comments-container {
    width: 700px;
    margin-left: auto;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
  }
  &__comments-img {
    margin-right: 30px;
    height: 100px;
  }
  &__comments-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  &__comments-name {
    font-weight: 700;
  }
  &__comments-date {
    font-size: 14px;
    color: #9e9e9e;
  }
  &__comments-text {
    color: #999999;
    margin-bottom: 25px;
  }
  &__comments-reply {
    color: #516278;
    margin-bottom: 30px;
    position: relative;
    padding-right: 20px;
    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 3px;
    }
  }
}

.blog-form {
  &__title {
    padding-top: 60px;
    margin-bottom: 45px;
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
    color: #436372;
  }
  &__box-input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    position: relative;
  }
  &__text-input {
    display: inline-block;
    width: 400px;
    height: 20px;
    line-height: 36px;
    padding: 20px 45px 20px 20px;
    border: 1px solid #e5e5e5;
    transition: all .3s;
    outline: none;
    &::placeholder {
      color: #999999;
    }
    &:hover{
      border: 1px solid #a3bbc8;
      &::placeholder {
        color: #333333;
      }
    } 
  }
  &__user-icon {
    position: absolute;
    top: 15px;
    left: 370px;
  }
  &__mail-icon {
    position: absolute;
    top: 15px;
    right: 20px;
  }
  &__textarea-box {
    position: relative;
  }
  &__comment-icon {
    position: absolute;
    top: 15px;
    right: 20px;
  }
  &__textarea {
    display: block;
    width: 100%;
    height: 90px;
    padding: 5px 45px 0 20px;
    border: 1px solid #e5e5e5;
    font-size: 16px;
    line-height: 36px;
    margin-bottom: 40px;
    resize: none;
    outline: none;
    transition: all .3s;
    &::placeholder {
      color: #999999;
    }
    &:hover {
      border: 1px solid #a3bbc8;
      &::placeholder {
        color: #333333;
      }
    }
  }
  &__btn {
    text-transform: uppercase;
    width: 190px;
    height: 50px;
    line-height: 21px;
    color: #fff;
    background-color: #a3bbc8;
    border: none;
    cursor: pointer;
  }
}

.contact {
  padding-top: 120px;
  &__subtitle {
    font-family: $f-dmsans;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    color: #a3bbc8;
  }
  &__title {
    font-family: $f-dmsans;
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    line-height: 57px;
    margin-bottom: 70px;
    color: #436372;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__address {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    width: 370px;
    height: 380px;
    background-color: #fbfbfb;
    border: 3px solid transparent;
    transition: all .3s;
    &:hover {
      border: 3px solid #a3bbc8;
    }
    &:hover .contact__address-list {
      background-color: #a3bbc8;
      path {
        fill: #fff;
      }
    }
  }
  &__address-list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    border-radius: 20px;
    background-color: #ffffff;
    transition: all .3s;
    path {
      transition: all .3s;
      &:hover {
        fill: #fff;
      }
    }
    &:hover {
      background-color: #a3bbc8;
    }
  }
  &__address-subtitle {
    font-family: $f-dmsans;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #222222;
    margin-bottom: 10px;
  }
  &__address-text,
  &__address-mail,
  &__address-phone {
    display: block;
    color: #565872;
  }
}

.map {
  padding: 120px 0 130px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  .blog-form {
    width: 620px;
    margin-right: 50px;
    &__text-input {
      text-transform: uppercase;
      width: 300px;
      background-color: #fafafa;
      border: none;
      &::placeholder {
        color: #7f8092;
      }
    }
    &__user-icon {
      left: 270px;
    }
    &__textarea {
      height: 175px;
      background-color: #fafafa;
      border: none;
      &::placeholder {
        color: #7f8092;
      }
    }
    &__btn {
      font-family: $f-dmsans;
      font-weight: 700;
      border-radius: 6px;
    }
  }
}

#map {
  width: 500px;
  height: 335px;
}




@import 'media';