.header {
  width: 1770px;
  margin: 0 auto;
  padding: 63px 0 50px;
  &__inner {
    max-width: 1770px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  &__logo {
    width: 160px;
    padding-left: 10px;
    z-index: 1;
  }
}

.menu {
  &__list {
    display: flex;
    position: relative;
    left: 80px;
    font-family: $f-rubik;
    font-weight: 500;
  }
  &__list-item+.menu__list-item {
    padding-left: 35px;
  }
  &__list-link {
    line-height: 12px;
    font-size: 15px;
    color: $default;
  }
  &__btn {
    display: none;
  }
}

.user-nav {
  display: flex;
  &__left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #edf1f4;
    cursor: pointer;
    transition: all .3s;
    &:hover {
      transition: all .3s;
      background-color: #a3bbc8;
    }
  }
  &__middle--line::before {
    content: '';
    position: absolute;
    background-color: #fde7d3;
    width: 1px;
    height: 32px;
  }
  &__middle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    right: -10px;
    width: 178px;
    height: 50px;
    border-radius: 25px;
    background-color: #fcd7b6;
  }
  &__right {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: -9px;
    width: 50px;
    height: 50px;
    margin-left: 20px;
    border-radius: 50%;
    background-color: #edf1f4;
    cursor: pointer;
    transition: all .3s;
    &:hover {
      transition: all .3s;
      background-color: #a3bbc8;
    }
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
  &__img-heart {
    position: relative;
    left: 8px;
  }
  &__img-cart {
    position: relative;
    left: -10px;
  }
  &__num-right {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $num;
    top: 8px;
    font-size: 10px;
    line-height: 17px;
    text-align: center;
    color: $title-h6;
  }
  &__num-left {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $num;
    top: 8px;
    left: 35px;
    font-size: 10px;
    line-height: 17px;
    text-align: center;
    color: $title-h6;
  }
}

@media(max-width: 1700px) {
  .header {
    max-width: 1070px;
  }
  .menu {
    &__list {
      left: 0px;
    }
  }
  .user-nav {
    margin-right: 70px;
  }
}

@media(max-width: 1050px) {
  .header {
    max-width: 950px;
  }
  .menu {
    &__list-item+.menu__list-item {
      padding-left: 15px;
    }
  }
}

@media(max-width: 900px) {
  .header {
    max-width: 600px;
    padding: 30px 0;
  }
  .menu {
    order: 1;
    &__list {
      transform: translateY(-200%);
      position: absolute;
      width: 100%;
      top: 110px;
      flex-direction: column;
      align-items: center;
      z-index: 5;
      transition: all .3s;
      background-color: #fff;
      &.menu__list--active {
        transform: translateY(0%);
        transition: all .3s;
      }
    }
    &__list-item + .menu__list-item {
      padding-left: 0;
    }
    &__list-item {
      width: 100%;
      text-align: center;
    }
    &__list-link {
      display: block;
      width: 100%;
      margin: 12px 0;
    }
    &__btn {
      width: 30px;
      height: 21px;
      border: none;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      padding: 0;
      span {
        width: 100%;
        height: 3px;
        background-color: #436372;
      }
      &::before,
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #436372;
      }
      &::before {
        top: 0;
      }
      &::after {
        bottom: 0;
      }
    }
  }
  .user-nav {
    margin: 0 ;
  }
}

@media(max-width: 620px) {
  .header {
    max-width: 325px;
    &__logo {
      margin-bottom: 20px;
    }
  }
  .menu {
    order: 0;
    &__list {
      top: 150px;
    }
    &__btn {
      margin-right: 22px;
    }
  }
  .user-nav {
    width: 100%;
    margin: 0 15px 20px;
    &__left{
      margin-right: 0;
    }
    &__right {
      margin-left: 10px;
    }
  }
}