<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Glee.</title>
  <link rel="stylesheet" href="css/blog.min.css">
</head>

<body>

  {% include 'app/module/_header/_header.html' %}

  <main class="main">
    <section class="top">
      <div class="top__container">
        <h2 class="top__title title">
          Blog
        </h2>
        <div class="breadcrums">
          <ul class="breadcrums__list">
            <li class="breadcrums__item">
              <a class="breadcrums__link" href="#">
                Home
              </a>
            </li>
            <li class="breadcrums__item">
              <a class="breadcrums__link" href="#">
                Blog
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section class="blog-page">
      <div class="container">
        <div class="blog-page__inner">
          <div class="blog-page__content">
            <div class="blog-page__items">
              <div class="blog-page__item">
                <img class="blog-page__img" src="images/blog/1-big.jpg" alt="blog img">
              </div>
              <div class="blog-page__item-info">
                <div class="blog-page__item-date">
                   28 JANUARY, 2020
                </div>
                <a class="blog-page__item-autor" href="#">
                   BY ADMIN
                </a>
              </div>
            </div>
            <div class="blog-page__item-box">
              <h4 class="blog-page__item-title">
                <a class="blog-page__item-link" href="#">
                  Fonsectetur adipisicing eiusmod
                </a>
              </h4>
              <p class="blog-page__item-text">
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
              </p>
              <button class="blog-page__item-btn">View More</button>
              <svg class="btn blog-page__item-icon" width="22px" height="9px">
                <path fill-rule="evenodd"fill="rgb(163, 187, 200)"
                  d="M0.296,5.472 L0.287,5.470 L17.244,5.470 L17.143,8.328 C17.89,8.383 17.59,8.457 17.59,8.533 C17.59,8.611 17.89,8.683 17.143,8.738 L17.316,8.912 C17.370,8.966 17.442,8.995 17.519,8.995 C17.596,8.995 17.669,8.966 17.723,8.912 L21.915,4.700 C21.970,4.645 22.0,4.572 21.999,4.496 C22.0,4.419 21.970,4.345 21.915,4.291 L17.723,0.79 C17.669,0.25 17.596,0.3 17.519,0.3 C17.442,0.3 17.370,0.25 17.316,0.79 L17.143,0.252 C17.89,0.306 17.59,0.379 17.59,0.456 C17.59,0.534 17.89,0.602 17.143,0.656 L17.256,3.521 L0.292,3.521 C0.133,3.521 0.0,3.657 0.0,3.817 L0.0,5.186 C0.0,5.346 0.137,5.472 0.296,5.472 Z" />
              </svg>
            </div>
            <div class="blog-page__items">
              <div class="blog-page__item">
                <img class="blog-page__img" src="images/blog/2-big.jpg" alt="blog img">
              </div>
              <div class="blog-page__item-info">
                <div class="blog-page__item-date">
                   28 JANUARY, 2020
                </div>
                <a class="blog-page__item-autor" href="#">
                   BY ADMIN
                </a>
              </div>
            </div>
            <div class="blog-page__item-box">
              <h4 class="blog-page__item-title">
                <a class="blog-page__item-link" href="#">
                  Fonsectetur adipisicing elit,
                </a>
              </h4>
              <p class="blog-page__item-text">
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
              </p>
              <button class="blog-page__item-btn">View More</button>
              <svg class="btn blog-page__item-icon" width="22px" height="9px">
                <path fill-rule="evenodd" fill="rgb(163, 187, 200)"
                  d="M0.296,5.472 L0.287,5.470 L17.244,5.470 L17.143,8.328 C17.89,8.383 17.59,8.457 17.59,8.533 C17.59,8.611 17.89,8.683 17.143,8.738 L17.316,8.912 C17.370,8.966 17.442,8.995 17.519,8.995 C17.596,8.995 17.669,8.966 17.723,8.912 L21.915,4.700 C21.970,4.645 22.0,4.572 21.999,4.496 C22.0,4.419 21.970,4.345 21.915,4.291 L17.723,0.79 C17.669,0.25 17.596,0.3 17.519,0.3 C17.442,0.3 17.370,0.25 17.316,0.79 L17.143,0.252 C17.89,0.306 17.59,0.379 17.59,0.456 C17.59,0.534 17.89,0.602 17.143,0.656 L17.256,3.521 L0.292,3.521 C0.133,3.521 0.0,3.657 0.0,3.817 L0.0,5.186 C0.0,5.346 0.137,5.472 0.296,5.472 Z" />
              </svg>
            </div>
            <div class="blog-page__items">
              <div class="blog-page__item">
                <img class="blog-page__img" src="images/blog/3-big.jpg" alt="blog img">
              </div>
              <div class="blog-page__item-info">
                <div class="blog-page__item-date">
                   28 JANUARY, 2020
                </div>
                <a class="blog-page__item-autor" href="#">
                   BY ADMIN
                </a>
              </div>
            </div>
            <div class="blog-page__item-box">
              <h4 class="blog-page__item-title">
                <a class="blog-page__item-link" href="#">
                  Fsectetur adipisicing tempor incididunt
                </a>
              </h4>
              <p class="blog-page__item-text">
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
              </p>
              <button class="blog-page__item-btn">View More</button>
              <svg class="btn blog-page__item-icon" width="22px" height="9px">
                <path fill-rule="evenodd" fill="rgb(163, 187, 200)"
                  d="M0.296,5.472 L0.287,5.470 L17.244,5.470 L17.143,8.328 C17.89,8.383 17.59,8.457 17.59,8.533 C17.59,8.611 17.89,8.683 17.143,8.738 L17.316,8.912 C17.370,8.966 17.442,8.995 17.519,8.995 C17.596,8.995 17.669,8.966 17.723,8.912 L21.915,4.700 C21.970,4.645 22.0,4.572 21.999,4.496 C22.0,4.419 21.970,4.345 21.915,4.291 L17.723,0.79 C17.669,0.25 17.596,0.3 17.519,0.3 C17.442,0.3 17.370,0.25 17.316,0.79 L17.143,0.252 C17.89,0.306 17.59,0.379 17.59,0.456 C17.59,0.534 17.89,0.602 17.143,0.656 L17.256,3.521 L0.292,3.521 C0.133,3.521 0.0,3.657 0.0,3.817 L0.0,5.186 C0.0,5.346 0.137,5.472 0.296,5.472 Z" />
              </svg>
            </div>
            <div class="blog-page__items">
              <div class="blog-page__item">
                <img class="blog-page__img" src="images/blog/4-big.jpg" alt="blog img">
              </div>
              <div class="blog-page__item-info">
                <div class="blog-page__item-date">
                   28 JANUARY, 2020
                </div>
                <a class="blog-page__item-autor" href="#">
                   BY ADMIN
                </a>
              </div>
            </div>
            <div class="blog-page__item-box">
              <h4 class="blog-page__item-title">
                <a class="blog-page__item-link" href="#">
                  Vonsectetur adipisicing elit
                </a>
              </h4>
              <p class="blog-page__item-text">
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
              </p>
              <button class="blog-page__item-btn">View More</button>
              <svg class="btn blog-page__item-icon" width="22px" height="9px">
                <path fill-rule="evenodd" fill="rgb(163, 187, 200)"
                  d="M0.296,5.472 L0.287,5.470 L17.244,5.470 L17.143,8.328 C17.89,8.383 17.59,8.457 17.59,8.533 C17.59,8.611 17.89,8.683 17.143,8.738 L17.316,8.912 C17.370,8.966 17.442,8.995 17.519,8.995 C17.596,8.995 17.669,8.966 17.723,8.912 L21.915,4.700 C21.970,4.645 22.0,4.572 21.999,4.496 C22.0,4.419 21.970,4.345 21.915,4.291 L17.723,0.79 C17.669,0.25 17.596,0.3 17.519,0.3 C17.442,0.3 17.370,0.25 17.316,0.79 L17.143,0.252 C17.89,0.306 17.59,0.379 17.59,0.456 C17.59,0.534 17.89,0.602 17.143,0.656 L17.256,3.521 L0.292,3.521 C0.133,3.521 0.0,3.657 0.0,3.817 L0.0,5.186 C0.0,5.346 0.137,5.472 0.296,5.472 Z" />
              </svg>
            </div>
          </div>
          <div class="blog-page__aside">
            <div class="filter-search">
              <form class="filter-search__form" action="#">
                <input class="filter-search__input" type="text">
                <button class="filter-search__btn" type="submit">
                  <img src="images/icon/search-blue.svg" alt="icon search">
                </button>
              </form>
            </div>
            <div class="filter__item filter-category">
              <h3 class="filter__title filter-category__title">
                CATEGORY
              </h3>
              <form class="filter-category__form">
                <label class="filter-category__label">
                  <input class="filter-category__input" type="checkbox">
                  <div class="filter-category__checkbox">
                    <span class="filter-category__text">Chair</span>
                    <span>
                      <svg class="filter-category__arrow" width="6.1" height="10.97" viewBox="0 0 6.1 10.97">
                        <path fill-rule="evenodd" fill="rgb(36, 63, 77)"
                          d="M1539.33,4295.69a0.53,0.53,0,0,1-.41-0.19,0.6,0.6,0,0,1-.15-0.4,0.631,0.631,0,0,1,.17-0.43l4.55-4.47-4.55-4.48a0.607,0.607,0,0,1-.17-0.42,0.629,0.629,0,0,1,.15-0.41,0.559,0.559,0,0,1,.8-0.02l4.98,4.9,0.01,0.01a0.657,0.657,0,0,1,.12.17h0a0.7,0.7,0,0,1,.05.25h0a0.742,0.742,0,0,1-.05.25h0a0.61,0.61,0,0,1-.12.16c0,0.01-.01.01-0.01,0.02l-4.98,4.9A0.589,0.589,0,0,1,1539.33,4295.69Z"
                          transform="translate(-1538.78 -4284.72)" />
                      </svg>
                    </span>
                  </div>
                </label>
                <label class="filter-category__label">
                  <input class="filter-category__input" type="checkbox">
                  <div class="filter-category__checkbox">
                    <span class="filter-category__text">Table</span>
                    <span>
                      <svg class="filter-category__arrow" width="6.1" height="10.97" viewBox="0 0 6.1 10.97">
                        <path fill-rule="evenodd" fill="rgb(36, 63, 77)"
                          d="M1539.33,4295.69a0.53,0.53,0,0,1-.41-0.19,0.6,0.6,0,0,1-.15-0.4,0.631,0.631,0,0,1,.17-0.43l4.55-4.47-4.55-4.48a0.607,0.607,0,0,1-.17-0.42,0.629,0.629,0,0,1,.15-0.41,0.559,0.559,0,0,1,.8-0.02l4.98,4.9,0.01,0.01a0.657,0.657,0,0,1,.12.17h0a0.7,0.7,0,0,1,.05.25h0a0.742,0.742,0,0,1-.05.25h0a0.61,0.61,0,0,1-.12.16c0,0.01-.01.01-0.01,0.02l-4.98,4.9A0.589,0.589,0,0,1,1539.33,4295.69Z"
                          transform="translate(-1538.78 -4284.72)" />
                      </svg>
                    </span>
                  </div>
                </label>
                <label class="filter-category__label">
                  <input class="filter-category__input" type="checkbox">
                  <div class="filter-category__checkbox">
                    <span class="filter-category__text">Lamp</span>
                    <span>
                      <svg class="filter-category__arrow" width="6.1" height="10.97" viewBox="0 0 6.1 10.97">
                        <path fill-rule="evenodd" fill="rgb(36, 63, 77)"
                          d="M1539.33,4295.69a0.53,0.53,0,0,1-.41-0.19,0.6,0.6,0,0,1-.15-0.4,0.631,0.631,0,0,1,.17-0.43l4.55-4.47-4.55-4.48a0.607,0.607,0,0,1-.17-0.42,0.629,0.629,0,0,1,.15-0.41,0.559,0.559,0,0,1,.8-0.02l4.98,4.9,0.01,0.01a0.657,0.657,0,0,1,.12.17h0a0.7,0.7,0,0,1,.05.25h0a0.742,0.742,0,0,1-.05.25h0a0.61,0.61,0,0,1-.12.16c0,0.01-.01.01-0.01,0.02l-4.98,4.9A0.589,0.589,0,0,1,1539.33,4295.69Z"
                          transform="translate(-1538.78 -4284.72)" />
                      </svg>
                    </span>
                  </div>
                </label>
                <label class="filter-category__label">
                  <input class="filter-category__input" type="checkbox">
                  <div class="filter-category__checkbox">
                    <span class="filter-category__text">Watch</span>
                    <span>
                      <svg class="filter-category__arrow" width="6.1" height="10.97" viewBox="0 0 6.1 10.97">
                        <path fill-rule="evenodd" fill="rgb(36, 63, 77)"
                          d="M1539.33,4295.69a0.53,0.53,0,0,1-.41-0.19,0.6,0.6,0,0,1-.15-0.4,0.631,0.631,0,0,1,.17-0.43l4.55-4.47-4.55-4.48a0.607,0.607,0,0,1-.17-0.42,0.629,0.629,0,0,1,.15-0.41,0.559,0.559,0,0,1,.8-0.02l4.98,4.9,0.01,0.01a0.657,0.657,0,0,1,.12.17h0a0.7,0.7,0,0,1,.05.25h0a0.742,0.742,0,0,1-.05.25h0a0.61,0.61,0,0,1-.12.16c0,0.01-.01.01-0.01,0.02l-4.98,4.9A0.589,0.589,0,0,1,1539.33,4295.69Z"
                          transform="translate(-1538.78 -4284.72)" />
                      </svg>
                    </span>
                  </div>
                </label>
                <label class="filter-category__label">
                  <input class="filter-category__input" type="checkbox">
                  <div class="filter-category__checkbox">
                    <span class="filter-category__text">Clock</span>
                    <span>
                      <svg class="filter-category__arrow" width="6.1" height="10.97" viewBox="0 0 6.1 10.97">
                        <path fill-rule="evenodd" fill="rgb(36, 63, 77)"
                          d="M1539.33,4295.69a0.53,0.53,0,0,1-.41-0.19,0.6,0.6,0,0,1-.15-0.4,0.631,0.631,0,0,1,.17-0.43l4.55-4.47-4.55-4.48a0.607,0.607,0,0,1-.17-0.42,0.629,0.629,0,0,1,.15-0.41,0.559,0.559,0,0,1,.8-0.02l4.98,4.9,0.01,0.01a0.657,0.657,0,0,1,.12.17h0a0.7,0.7,0,0,1,.05.25h0a0.742,0.742,0,0,1-.05.25h0a0.61,0.61,0,0,1-.12.16c0,0.01-.01.01-0.01,0.02l-4.98,4.9A0.589,0.589,0,0,1,1539.33,4295.69Z"
                          transform="translate(-1538.78 -4284.72)" />
                      </svg>
                    </span>
                  </div>
                </label>
              </form>
            </div>
            <div class="filter__item filter-posts">
              <h3 class="filter__title filter-posts__title">
                Recent Posts
              </h3>
              <div class="filter-posts__items">
                <a class="filter-posts__link" href="#">
                  <div class="filter-posts__images">
                    <img class="filter-posts__img" src="images/blog/mini-1.jpg" alt="image recent product">
                  </div>
                  <div class="filter-posts__info">
                    <p class="filter-posts__text">
                      Corem ipsum dolor tetur adipisicing elit
                    </p>
                    <div class="filter-posts__date">
                       28 JANUARY, 2020
                    </div>
                  </div>
                </a>
              </div>
              <div class="filter-posts__items">
                <a class="filter-posts__link" href="#">
                  <div class="filter-posts__images">
                    <img class="filter-posts__img" src="images/blog/mini-2.jpg" alt="image recent product">
                  </div>
                  <div class="filter-posts__info">
                    <p class="filter-posts__text">
                      Fdipisicing elit, sed do eiusmod tempor
                    </p>
                    <div class="filter-posts__date">
                       28 JANUARY, 2020
                    </div>
                  </div>
                </a>
              </div>
              <div class="filter-posts__items">
                <a class="filter-posts__link" href="#">
                  <div class="filter-posts__images">
                    <img class="filter-posts__img" src="images/blog/mini-3.jpg" alt="image recent product">
                  </div>
                  <div class="filter-posts__info">
                    <p class="filter-posts__text">
                      Eonsectetur adipisicing elit, sed do eiusmod
                    </p>
                    <div class="filter-posts__date">
                       28 JANUARY, 2020
                    </div>
                  </div>
                </a>
              </div>
              <div class="filter-posts__items">
                <a class="filter-posts__link" href="#">
                  <div class="filter-posts__images">
                    <img class="filter-posts__img" src="images/blog/mini-4.jpg" alt="image recent product">
                  </div>
                  <div class="filter-posts__info">
                    <p class="filter-posts__text">
                      Gnim ad minim veniam, quis nostrud
                    </p>
                    <div class="filter-posts__date">
                       28 JANUARY, 2020
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="pagination blog-pagination">
          <ul class="pagination__list">
            <a class="pagination__previous" href="#">Previous</a>
            <li class="pagination__item">
              <a class="pagination__link pagination__link--active" href="#">1</a>
            </li>
            <li class="pagination__item">
              <a class="pagination__link" href="#">2</a>
            </li>
            <li class="pagination__item">
              <a class="pagination__link" href="#">3</a>
            </li>
          </ul>
          <a class="pagination__next" href="#">Next</a>
        </div>
      </div>
    </section>
  </main>
  
  {% include 'app/module/_footer/_footer.html' %}

  <script src="js/main.min.js"></script>
</body>

</html>